@font-face {
  font-family: Basker Classico;
  src: url(../../resources/fonts/basker_classico.TTF);
}
@font-face {
  font-family: Basker Classico B;
  src: url(../../resources/fonts/basker_classico_bold.TTF);
}
@font-face {
  font-family: Basker Classico M;
  src: url(../../resources/fonts/basker_classico_mayus.TTF);
}
@font-face {
  font-family: Basker Classico I;
  src: url(../../resources/fonts/basker_classico_italic.TTF);
}
@font-face {
  font-family: Gill Sans MT;
  src: url(../../resources/fonts/gil_sans_mt.TTF);
}
@font-face {
  font-family: Gill Sans MTB;
  src: url(../../resources/fonts/gil_sans_mt_bold.TTF);
}
@font-face {
  font-family: Gill Sans MTC;
  src: url(../../resources/fonts/gil_sans_mt_condensed.TTF);
}
@font-face {
  font-family: Gill Sans MTL;
  src: url(../../resources/fonts/gil_sans_mt_light.TTF);
}
@font-face {
  font-family: Gill Sans MTI;
  src: url(../../resources/fonts/gil_sans_mt_italic.TTF);
}
.displayflex-justifycontentcenter, .gallery-body {
  display: flex;
  justify-content: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.bg-text, h1, p {
  background-color: #B7B7B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: Basker Classico, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  color: #103558;
  margin: 0;
  padding: 10px 0px;
}

h1 {
  font-family: gil_sans_mt, sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #103558;
  margin: 0;
  padding: 10px 0px;
}

main, section {
  margin: 0;
  padding: 0;
}

.float-w {
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  font-size: 37px;
  text-align: center;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6666666667);
}

.float-w:hover {
  color: #25d366;
  background-color: #ffffff;
}

body {
  background: linear-gradient(to bottom, #103558, #027EA7 100%);
}

.mi-header {
  font-family: gil_sans_mt, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: start;
  color: #B7B7B7;
  text-transform: uppercase;
  background-color: none;
  height: 130px;
  position: fixed;
  z-index: 50;
  width: 100vw;
  color: #B7B7B7 !important;
}

.logo {
  margin-left: 10px;
  object-fit: center;
  height: auto;
  width: 15vw;
}

.after-header {
  margin-top: 120px;
}

.anim-header-text {
  transition: 0.3s;
  color: #B7B7B7;
}

.mi-header-burger {
  background: none;
  padding: 40px;
  width: 100vw;
  padding-right: 80px;
}

.header-align {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}
.redes i {
  font-size: 25px;
}

footer {
  margin-top: 10px;
  height: 300px;
  background-color: #B7B7B7;
  color: #F9a21b;
}

.anim-header-text:hover {
  color: #B7B7B7;
  text-shadow: 0 0 15px #F9a21b;
}

:root {
  --dark: #333;
  --light: #fff ;
}

.gallery-body {
  flex-direction: row;
  height: 640px;
  align-items: center;
  overflow: hidden;
  transition: auto 0.5s;
  background: var(--dark);
}
.gallery-body .gallery-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
  border-radius: 25px;
}
.gallery-body .gallery-section .gallery-image {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background-size: auto 100%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.1, 0.1, 0.1, 0.1);
  background-image: url("../../resources/images/matias.jpg");
}
.gallery-body .gallery-section .gallery-image .gallery-label {
  display: flex;
  position: absolute;
  width: 80%;
  justify-content: center;
}
.gallery-body .gallery-section .gallery-image .gallery-label .gallery-icon {
  width: 20%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.gallery-body .gallery-section .gallery-image .gallery-label .gallery-icon i {
  padding: 10px;
  text-align: center;
  color: #F9a21b;
}
.gallery-body .gallery-section .gallery-image p {
  background: none;
  font-size: 15px;
  color: #F9a21b;
  text-align: center;
}
.gallery-body .gallery-section .gallery-image.active {
  flex-grow: 10000;
  transform: scale(1.1);
  max-width: 600px;
  margin: 0;
  border-radius: 25px;
  background-size: 100% auto;
}
.gallery-body .gallery-section .gallery-image.active .gallery-label {
  background: var(--dark);
  padding: 10px;
  border-radius: 50px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.gallery-body .gallery-section .gallery-image.active .gallery-label .gallery-info .gallery-main-info, .gallery-body .gallery-section .gallery-image.active .gallery-label .gallery-info .gallery-sub-info {
  text-align: start;
}
.gallery-body .gallery-section .gallery-image:not(.active) {
  flex-grow: 1;
  border-radius: 25px;
}
.gallery-body .gallery-section .gallery-image:not(.active) .gallery-label {
  bottom: 10px;
  left: 10px;
}
.gallery-body .gallery-section .gallery-image:not(.active) .gallery-label .gallery-info {
  display: none;
}

/*# sourceMappingURL=style.css.map */
