* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    @include mi-text(Basker Classico, serif, bold, 20px, start, map-get($map: $palette, $key: azul-fr));
    @extend .bg-text;
}
h1 {
    @include mi-text(gil_sans_mt, sans-serif, normal, 30px, center, map-get($map: $palette, $key: azul-fr));
    @extend .bg-text;
}