* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    @include mi-text(Basker Classico, serif, bold, 20px, start, map-get($map: $palette, $key: azul));
    @extend .bg-text;
    margin: 0;
    padding: 10px 0px;
}
h1 {
    @include mi-text(gil_sans_mt, sans-serif, normal, 30px, center, map-get($map: $palette, $key: azul));
    @extend .bg-text;
    margin: 0;
    padding: 10px 0px;
}
main, section {
    margin: 0;
    padding: 0;
}
.float-w {
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    font-size: 37px;
    text-align: center;
    border-radius: 30px;
    color: map-get($map: $palette, $key: blanco);
    transition: 0.2s;
    box-shadow: 5px 5px 5px #000000aa;
}
.float-w:hover {
    color:#25d366;
    background-color: map-get($map: $palette, $key: blanco);
}