.mi-header {
    @include mi-text(gil_sans_mt, sans-serif, bold, 15px, start, map-get($map: $palette, $key: gris));
    text-transform: uppercase;
    background-color: none;
    height: 130px;    
    position: fixed;
    z-index: 50;
    width: 100vw;
    color: map-get($map: $palette, $key: gris) !important;
    //@include mi-text()
}
.logo {
    margin-left: 10px;
    object-fit: center;  
    height: auto;
    width: 15vw;       
}
.after-header {
    margin-top: 120px;
}
.anim-header-text{
    transition: 0.3s;
    color: map-get($map: $palette, $key: gris);
}
.mi-header-burger{
    background: none;
    padding: 40px;
    width: 100vw;    
    padding-right: 80px;    
}
.header-align {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    i {
        font-size: 25px;
    }
}