.mi-header {
    @include mi-text(Basker Classico B, sans-serif, bold, 22px, start, map-get($map: $palette, $key: gris));
    text-transform: uppercase;
    background-color: map-get($map: $palette, $key: azul);
    height: 100px;    
    position: fixed;
    z-index: 50;
    width: 100vw;
    color: map-get($map: $palette, $key: amarillo)
    //@include mi-text()
}
.logo {
    margin-left: 10px;
    object-fit: center;  
    height: 100%;
    width: auto;
    img {
        scale: 115%;
    }    
}
.after-header {
    margin-top: 120px;
}
.mi-header-burger{
    background: linear-gradient(to bottom, map-get($map: $palette, $key: azul), #103558bb, #10355855);
    padding: 40px;
    width: 100vw;    
    padding-right: 80px;
}
.header-align {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}