.displayflex-justifycontentcenter {
    display: flex;
    justify-content: center;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
}
.bg-text {
    background-color: map-get($map: $palette, $key: gris-claro);
}