@font-face {
    font-family: Basker Classico;
    src: url(../../resources/fonts/basker_classico.TTF);    
}
@font-face {
    font-family: Basker Classico B;
    src: url(../../resources/fonts/basker_classico_bold.TTF);    
}
@font-face {
    font-family: Basker Classico M;
    src: url(../../resources/fonts/basker_classico_mayus.TTF);    
}
@font-face {
    font-family: Basker Classico I;
    src: url(../../resources/fonts/basker_classico_italic.TTF);    
}
@font-face {
    font-family: Gill Sans MT;
    src: url(../../resources/fonts/gil_sans_mt.TTF);
}
@font-face {
    font-family: Gill Sans MTB;
    src: url(../../resources/fonts/gil_sans_mt_bold.TTF);
}
@font-face {
    font-family: Gill Sans MTC;
    src: url(../../resources/fonts/gil_sans_mt_condensed.TTF);
}
@font-face {
    font-family: Gill Sans MTL;
    src: url(../../resources/fonts/gil_sans_mt_light.TTF);
}
@font-face {
    font-family: Gill Sans MTI;
    src: url(../../resources/fonts/gil_sans_mt_italic.TTF);
}