@font-face {
    font-family: Basker Classico;
    src: url(../../resources/fonts/basker_classico.TTF);    
}
@font-face {
    font-family: Basker Classico B;
    src: url(../../resources/fonts/basker_classico_bold.TTF);    
}
@font-face {
    font-family: Basker Classico M;
    src: url(../../resources/fonts/basker_classico_mayus.TTF);    
}
@font-face {
    font-family: Basker Classico I;
    src: url(../../resources/fonts/basker_classico_italic.TTF);    
}
// @font-face {
//     font-family: Gill Sans MT
//     src: url();
// }