//Paleta de colores
$palette: (
    'azul-o': #0F3759,
    'azul-fr': #113E59,
    'celeste': #0388A6,
    'marron': #401801,
    'marron-c': #8C4F04,
    'amarillo-o': #F2911B,
    'amarillo-c': #D9AC59,
    'gris': #BFBFBF,
    'gris-claro': #F2F2F2,    
    'negro': #0D0D0D,
    'negro-35': rgba(0, 0, 0, 0.35),
    'negro-65': rgba(0, 0, 0, 0.65),    
    'blanco': #fbfbff
)